body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 50px auto;
  font-family: 'Handlee', cursive;
  font-size: 5rem;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
}

.top-container {
  background-color: #4f8a8b;
  position: relative;
  padding-top: 120px;
  width: 100vw;
}

.middle-container {
  background-color: #f4f6ff;
  padding: 50px;
}

.bottom-container {
  background-color: #fbd46d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;


}

.mountain{
max-width: 100%;
max-height: 100%;
height: auto;
width: 100vw;
}

.graduated-icon {
  max-width: 15%;
  max-height: 15%;
  padding-bottom: 50px;
}

.list-skills {
  max-width: 15%;
  max-height: 15%;
  padding-bottom: 50px;
}

.mail {
  max-width: 15%;
  max-height: 15%;
}

.book {
  max-width: 15%;
  max-height: 15%;
  padding-bottom: 50px;
}

.profile {
  padding: 100px 50px 50px 50px;
}

.education {
  padding: 50px;
}

.degree{
  display: flex;
  justify-content: space-between;

}

.skills {
  padding: 50px;
}

.contact-me {
  padding: 50px;
}

.get-in-touch {
  margin: 20px 20px;
}

.footer-link {
  padding: 10px;
}
